<h1><%=@pirate.name%></h1>
<p>height: <%= @pirate.height %> </p>
<p>weight: <%= @pirate.weight%> </p>

<h2><%= @ship1.name %> </h2>
<p>type: <%= @ship1.type %> </p>
<p>booty: <%= @ship1.booty%> </p>

<h2><%= @ship2.name %> </h2>
<p>type: <%= @ship2.type %> </p>
<p>booty: <%= @ship2.booty%> </p>
